.first-component{
    background-color: darkblue;
    padding: 10px;
  }
  
  .first-component .first__div{
    background-color: red;
  }
  
  .first-component--component{
    display: flex;
    background-color: green;
  }
  
  .first-component--component .second__div{
    flex-grow: 1;
    background-color: yellow;
  }
  
  .first-component--component .third__div{
    flex-grow: 1;
    background-color: orange;
  }
  
  .second-component{
    margin-top: 20px;
    background-color: blue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .second-component--first__part{
    display: flex;
    flex-direction: column;
    flex:1;
  }
  
  .second-component--first__part .first__div{
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 100px;
    background-color: brown;
  }
  
  .second-component--first__part .second__div{
    background-color:blueviolet;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20px;
  }
  
  .second-component--second__part{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .second-component--second__part .third__div{
    flex-grow: 1;
    flex-shrink: 1;
    background-color: chartreuse;
    flex-basis: 20px;
  }
  
  .second-component--second__part .last__div{
    background-color:crimson;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 100px;
  }



  